{% extends 'base.html' %}
{% block content %}

{% if object %}
<h1>Edit Transaction</h1>
{% else %}
<h1>New Transaction</h1>
{% endif %}


<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Submit</button>
        <!-- <a href="{% url 'trip_detail' pk=object.trip.id %}">Cancel</a> -->
    </form>
</div>



<script>
    const startDateEl = document.getElementById('id_date');
    M.Datepicker.init(startDateEl, {
        format: 'mmmm d, yyyy',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });

</script>
{% endblock %}