{% extends 'base.html' %}
{% block content %}

{% if object %}
<h1>Edit Transaction</h1>
{% else %}
<h1>New Transaction</h1>
{% endif %}

<div class="row">
    <form method="POST" action="" class="col s12">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">
            <div class="col s6">
                <button type="submit" class="btn"><i class="material-icons right">send</i>Submit</button>
                <a href="{{ view.get_success_url }}" class="btn grey lighten-1"><i
                        class="material-icons right">cancel</i>Cancel</a>
            </div>
        </div>
    </form>
</div>


<script>
    const startDateEl = document.getElementById('id_date');
    M.Datepicker.init(startDateEl, {
        format: 'mmmm d, yyyy',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });

</script>
{% endblock %}