{% extends 'base.html' %}
{% block content %}

<h1>{{trip.name}}</h1>
<div class="card-action">
    <a href="{% url 'trip_update' trip.id %}">Edit</a>
    <a href="{% url 'trip_delete' trip.id %}">Delete</a>
  </div>
<h5>Transactions: </h5>
<h5>Members: </h5>

<div class="row">
    <div class="col s6">
        <a href="{% url 'transaction_create' pk=trip.pk%}">Add Transaction</a>
        List of Transactions
    </div>
    <div class="col s6">
        Add Members
        List of Members
    </div>
</div>


<!-- <div class="row">
    <div class="col s6"></div>
</div> -->

{% endblock %}
