{% extends 'base.html' %}
{% block content %}

<h1>{{trip.name}}</h1>
<div class="card-action">
    <a href="{% url 'trip_update' trip.id %}">Edit</a>
    <a href="{% url 'trip_delete' trip.id %}">Delete</a>
</div>
<h5>Transactions: </h5>
<h5>Members: </h5>

<div class="row">
    <div class="col s6">
        <a href="{% url 'transaction_create' pk=trip.pk%}">Add Transaction</a>
        <h5>Transactions: </h5>
        <ul>
            {% for transaction in transactions %}
            <li>{{ transaction}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col s6">
        <a href="{% url 'member_create' pk=trip.pk%}">Add Member</a>
        <h5>Members: </h5>
        <ul>
            {% for member in members %}
            <li>{{ member.name }}
                <div class="card-action">
                    <a href="{% url 'member_update' trip_id=trip.pk pk=member.pk %}">Edit</a>
                    <a href="{% url 'member_delete' trip_id=trip.pk pk=member.pk %}">Delete</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- <div class="row">
    <div class="col s6"></div>
</div> -->

{% endblock %}