{% extends 'base.html' %}

{% block content %}
  <h1>Delete Trip</h1>

  <h4>Are you sure you want to delete <span class="teal-text">{{ object.name }}</span>?</h4>

  <form action="" method="POST">
    {% csrf_token %}
    <button class="btn waves-effect waves-light red" type="submit">Delete<i class="material-icons right">delete</i></button>
    <a href="{% url 'trip_detail' object.id %}" class="btn grey lighten-1"><i
      class="material-icons right">cancel</i>Cancel</a>
  </form>
{% endblock %}