{% extends 'base.html' %}
{% block content %}

{% if object %}
<h1>Edit Trip</h1>
{% else %}
<h1>New Trip Name</h1>
{% endif %}

<div>
<form method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">Submit</button>
</form>
</div>

  <script>
    const startDateEl = document.getElementById('id_start_date');
    M.Datepicker.init(startDateEl, {
      format: 'mmmm d, yyyy',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
    const endDateEl = document.getElementById('id_end_date');
    M.Datepicker.init(endDateEl, {
      format: 'mmmm d, yyyy',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
  </script>
{% endblock %}
