{% extends 'base.html' %}
{% block content %}

<h1 class="center-align">{{user.username}} Trips</h1>

<div class="center-align"><a href="{% url 'trip_create' %}"
    class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add New Trip</a>
</div>
<br>
<table class="highlight">
    <thead>
      <tr>
        <th>Trip Name</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      {% for trip in trips.all %}
      <tr>
        <td><a href="{% url 'trip_detail' trip.id %}">{{ trip.name }}</a></td>
        <td>{{ trip.start_date }}</td>
        <td>{{ trip.end_date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
{% endblock %}