{% extends 'base.html' %}
{% block content %}

<h1>Sign Up</h1>

<p class="red-text">{{ error_message }}</p>

<form method="POST" action="{% url 'signup' %}">
  {% csrf_token %}
  {{ form.username }}
  <label>Username </label>
  <br>
  
  {{ form.first_name }}
  <label>First Name </label>
  <br>
  
  {{ form.last_name }}
  <label>Last Name </label>
  <br>
  
  {{ form.email }}
  <label>Email </label>
  <br>
  
  {{ form.password1 }}
  <label>Password </label>
  <br>
  
  {{ form.password2 }}
  <label>Confirm Password</label>
  <br>
  <br>
  <input type="submit" class="btn" value="Sign Up">
</form>

{% endblock %}
